.ivu-page{
  position: absolute;
  left:px2rem(12);
  top:px2rem(60);
  font-size: px2rem(12);
  .ivu-select-selected-value{
    font-size: px2rem(12);
  }
  li{
    font-size: px2rem(12);
    line-height: px2rem(24);
    width: px2rem(24);
    height: px2rem(24);
  }
}