.layout {
  height: 100%;
  position: relative; // 关键
  min-height: 100%; // 关键
  margin-left: px2rem(120);
  transition: margin-left 0.3s;
  overflow: hidden;
  background: #f3f7fd;
  .view-c {
    position: absolute;
    top: px2rem(84);
    left: 0;
    right: 0;
    height: 80%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
  }
}
