#blog {
  #button {
    position: absolute;
    left: 0;
    top: 0;
    font-size: px2rem(12);
    margin: px2rem(6) 0 0 px2rem(6);
  }
  #content{
    position: absolute;
    left: px2rem(12);
    top: px2rem(60);
    font-size: px2rem(12);
    color: #000000;
  }
}
