#home {
  span {
    position: absolute;
    left: 1%;
    top: 1%;
    display: block;
    font-family: 'SFUDINEngschrift', serif;
    font-size: 16px;
  }
  #server {
    position: absolute;
    top: 8%;
    left: 7%;
    height: 250px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    //flex: 0 1 0;
    #cpu {
      height: 100%;
      width: 400px;
    }
    #mem {
      height: 100%;
      width: 400px;
    }
    #jvm {
      height: 100%;
      width: 400px;
    }
  }
}
