$design_width: 1366;//设计稿的宽度，根据实际项目调整
$design_height: 768;//设计稿的高度，根据实际项目调整

@function px2rem($px) {
  $design_font_size: 12;
  @return ($px/$design_font_size) + rem;
}

#login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  #login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: px2rem($design_width);
    height: px2rem($design_height);
    background: linear-gradient(to bottom,
            rgba(117, 114, 113, 0.8) 10%,
            rgba(40, 49, 77, 0.8) 30%,
            rgba(29, 35, 71, 0.8) 50%,
            rgba(19, 25, 28, 0.8) 80%,
            rgba(15, 14, 14, 0.8) 100%),
    url(https://38.media.tumblr.com/tumblr_m00c3czJkM1qbukryo1_500.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;

    #title {
      display: inline-block;
      //height: px2rem(200);
      //width: px2rem(200);
      position: absolute;
      top: 5%;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      font-size: px2rem(40);
    }

    .news {
      position: absolute;
      left: 10%;
      top: 25%;
      width: 630px;
      height: 200px;
    }

    .login-con {
      position: absolute;
      right: 20%;
      top: 30%;
      width: 300px;
      height: 300px;

      .form-con {
        padding: 10px 5px;
        margin: 10px 5px;
      }

      .button {
        position: relative;
        left: 40%;
      }
    }
  }
}
