
#login-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  #login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //width: px2rem($design_width);
    //height: px2rem($design_height);
    width: 100%;
    height: 100%;
    background: linear-gradient(
                    to bottom,
                    rgba(117, 114, 113, 0.8) 10%,
                    rgba(40, 49, 77, 0.8) 30%,
                    rgba(29, 35, 71, 0.8) 50%,
                    rgba(19, 25, 28, 0.8) 80%,
                    rgba(15, 14, 14, 0.8) 100%
    ),
    url(https://cdn.jsdelivr.net/gh/iznilul/img/1648866405194.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;

    #title {
      display: inline-block;
      position: absolute;
      top: 5%;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      font-size: px2rem(40);
    }

    .login-con {
      position: absolute;
      top: 30%;
      width: px2rem(480);
      height: px2rem(480);

      .ivu-card-head {
        p {
          text-align: center;
          font-size: px2rem(15);
        }
      }
      .form-con {
        padding: px2rem(12) px2rem(6);
        margin: px2rem(12) px2rem(6);
        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: px2rem(12) px2rem(12) px2rem(12) px2rem(12);
          img {
            width: px2rem(180);
            height: px2rem(120);
            margin-right: px2rem(24);
          }
          .ivu-form {
            display: inline-block;
            .ivu-input, .ivu-icon {
              font-size: px2rem(15);
            }
          }
        }
      }

      .button {
        text-align: center;

        button {
          font-size: px2rem(15);
        }
      }
    }

    //.news {
    //  position: absolute;
    //  left: 10%;
    //  top: 25%;
    //  width: px2rem(600);
    //  height: px2rem(200);
    //}
    //.ivu-card {
    //  font-size: px2rem(20);
    //}
  }
}
