#signUp {
  .ivu-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 0;
    height: px2rem(60);
    width: 75%;
    font-size: px2rem(18);
    .ivu-form-item-label {
      text-align: center;
      width: px2rem(60);
      font-size: px2rem(12);
    }
    .ivu-form-item-content {
      display: inline-block;
    }
    .ivu-input {
      width: px2rem(120);
      font-size: px2rem(12);
    }
  }
  #query {
    position: absolute;
    left: 65%;
    top: 0;
    height: px2rem(60);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .ivu-btn {
      font-size: px2rem(12);
      margin: px2rem(6) px2rem(12) 0 px2rem(12);
    }
  }
}
