#userInfo {
  #avatar {
    position: absolute;
    left: 850px;
    top: 60px;
  }
  #upload {
    position: absolute;
    left: 870px;
    top: 240px;
  }
  #passwordForm {
    position: absolute;
    top: 60px;
    left: 40px;
  }
  Button {
    position: absolute;
    left: 100px;
  }
  Form {
    position: absolute;
    top: 60px;
    left: 400px;
  }
  .ivu-input {
    width: 180px;
  }
}
