#registerModal {
  .ivu-modal-header-inner {
    font-size: px2rem(15);
  }

  .ivu-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: px2rem(18);

    .ivu-form-item-label {
      color: #000000;
      text-align: center;
      width: px2rem(60);
      font-size: px2rem(12);
    }

    .ivu-form-item-content {
      display: inline-block;
    }

    .ivu-select-selection {
      width: px2rem(100);
    }

    .ivu-input {
      color: #000000;
      width: px2rem(150);
      font-size: px2rem(12);
    }
  }

  .ivu-btn {
    font-size: px2rem(12);
  }
}
